<div class="row">
	<div class="em-wrapper-banners">
		<div class="col-sm-6 first img-banner text-center">
			<div class="effect-hover-text space-block"><a class="banner-img" title="Christian Caliendo" href="{{store url="marketplace/seller/collection/shop/christiancaliendo"}}"><img class="img-responsive retina-img" src="{{media url='wysiwyg/em0144/layout_clothing/home/em_ads_01.jpg'}}" alt="Christian Caliendo" /> </a> <a class="banner-text" title="Christian Caliendo" href="{{store url="marketplace/seller/collection/shop/christiancaliendo"}}"> <img class="img-responsive" src="{{media url='wysiwyg/em0144/layout_clothing/home/4blocktemplate_christiancaliendo.png'}}" alt="Christian Caliendo" /> </a></div>
		</div>
		<div class="col-sm-6 first img-banner text-center">
			<div class="effect-hover-text space-block"><a class="banner-img" title="LTX Sportswear" href="{{store url="marketplace/seller/collection/shop/ltxsportswear"}}"><img class="img-responsive retina-img" src="{{media url='wysiwyg/4block-1.png'}}" alt="LTX Sportswear" /></a>
			<a class="banner-text" title="LTX Sportswear" href="{{store url="marketplace/seller/collection/shop/ltxsportswear"}}"><img class="img-responsive" src="{{media url='wysiwyg/4blocktemplate_LTX_1.png'}}" alt="LTX Sportswear" /></a></div>
		</div>
		<div class="col-sm-6 last img-banner text-center">
			<div class="effect-hover-text3  space-block"><a class="banner-img" title="THREE SISTER SILVER" href="{{store url="marketplace/seller/collection/shop/threesistersilver"}}"> <img src="{{media url="wysiwyg/three_sisters_logo_1.jpg"}}" alt="" width="276" height="210" /></a> <a class="banner-text" title="THREE SISTER SILVER" href="{{store url="marketplace/seller/collection/shop/threesistersilver"}}"><img src="{{media url="wysiwyg/TS4blocktemplate.png"}}" alt="" width="276" height="210" /></a></div>
		</div>
		<div class="col-sm-6 last img-banner text-center">
			<div class="effect-hover-text3  space-block"><a class="banner-img" title="em-sample-title" href="#"> <img class="img-responsive retina-img" src="{{media url='wysiwyg/em0144/layout_clothing/home/em_ads_03.jpg'}}" alt="em-sample-alt" /></a><a class="banner-text" title="em-sample-title" href="#"><img src="{{media url="wysiwyg/em0144/layout_clothing/home/em_ads_text_03.png"}}" alt="" /></a></div>
		</div>
	</div>
</div>